{% extends "admin/admin.main.twig" %}
{% block category %}active{% endblock %}
{% block body %}
    <h3>"{{ category.name }}" Kategori Bilgileri</h3>



    <div class="row marketing">
        <div class="col-md-12">
            <p>Kategori id: <span class="text-muted">{{ category.id }}</span></p>
            <p>Kategori adı: <span class="text-muted">{{ category.name }}</span></p>
            <p>Durum: <span class="text-muted">{{ category.status }}</span></p>
        </div>
        <div class="col-md-12">
            <a class="btn btn-outline-primary" href="{{ category.id }}/edit">Düzenle</a>
        </div>
    </div>

    <div class="row marketing">
        <div class="col-md-12">
            <div class="btn-group" role="group">
                <a class="btn btn-outline-primary" href="{{ path('category_index') }}">Kategori listesi</a>
                <a class="btn btn-outline-primary" href="{{ path('category_new') }}">Yeni kategori ekle</a>
            </div>
        </div>
    </div>




{% endblock %}
